.PauseReturnButton {
    background-color: #f9891c;
    border: none;
    box-shadow: inset -2px -3px 3px 0.5px #aa5f14;
}

.PauseReturnButton {
    background-color: #af6215;
    box-shadow: inset -2px -3px 3px 0.5px #aa5f14;
}